/* CSS Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
form,
fieldset,
legend,
table,
th,
td {
  margin: 0;
  padding: 0;
}

/* Additional Resets */
img,
iframe {
  border: 0;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Box-sizing Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
